/*
 * ---------------------------------------------------------------
 * Custom Colours
 * ---------------------------------------------------------------
 */
:root {
    --primary: #F9F6F1;
    --secondary: #FF4081;
    --tertiary: #880E4F;
    --title: #590011;
    --text: #4E342E;
    --quote: #333333;
    --border: #D2B48C;
}

/*
 * ---------------------------------------------------------------
 * General Styling
 * ---------------------------------------------------------------
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    min-width: 100vw;
    color: var(--text);
    background-color: var(--primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#page {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: var(--primary);
}

#content {
    display: flex;
}

.content-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 4rem;
    width: 100%;
}

.title {
    text-align: center;
    color: var(--title);
}

.center-text {
    text-align: center;
}

/*
 * ---------------------------------------------------------------
 * Shared Styling
 * ---------------------------------------------------------------
 */
/* Creates a text divider around these elements */
.text-divider,
.menu-subsection-title {
    display: flex;
    align-items: center;
}
.text-divider::before,
.text-divider::after,
.menu-subsection-title::before,
.menu-subsection-title::after {
    flex-grow: 1;
    content: '';
    height: 2px;
    background-color: var(--border);
}

/*
 * ---------------------------------------------------------------
 * Browsing Tab Styling
 * ---------------------------------------------------------------
 */

.browsing-tabs {
    display: flex;
    justify-content: space-around;
    padding: 0 10rem;
    width: 100%;
}

.browse-tab {
    width: 150px;
    padding: 1rem;
    color: var(--text);
    background-color: var(--primary);
    border: 2px solid var(--border);
    box-shadow: 0 10px 15px #00000020;
}
.browse-tab:hover {
    color: var(--secondary);
}
.pressed {
    color: var(--primary);
    background-color: var(--tertiary);
}

/*
 * ---------------------------------------------------------------
 * Splash Page Styling
 * ---------------------------------------------------------------
 */
.image-card {
    display: flex;
    justify-content: center;
}

.display-image {
    height: 300px;
    padding: 0 auto;
    border: 2px solid var(--border);
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid var(--border);
}

.restaurant-description {
    /* font-weight: lighter; */
    color: var(--quote);
}

.text-divider::before {
    margin: 0 0 0 20rem;
}
.text-divider::after {
    margin: 0 20rem 0 0;
}

.quote-body {
    font-size: x-large;
    color: var(--secondary);
}

.quoter {
    color: var(--quote);
}

/*
 * ---------------------------------------------------------------
 * Menu Page Styling
 * ---------------------------------------------------------------
 */ 
.menu-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-description {
    padding: 0 5rem;
    font-weight: lighter;
}

.menu-subsection-title {
    justify-content: center;
    color: var(--title);
}

.menu-subsection-title::before,
.menu-subsection-title::after {
    margin: 0 2rem;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    width: 100%;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    font-weight: bold;
    color: var(--tertiary);
}


/*
 * ---------------------------------------------------------------
 * Contact Page Styling
 * ---------------------------------------------------------------
 */ 

.contact-content {
    display: grid;
    grid: 1fr 2fr / 1fr 2fr;
    gap: 2rem;
    justify-items: center;
} 

/*
 * -------------
 * Sidebar Styling
 * -------------
 */

.contact-info {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--border);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 130px;
    border-radius: 100%;
    border: 2px solid var(--border);
    overflow: hidden;
}

.logo {
    height: 60px;
    width: auto;
}

.number, .email {
    color: var(--secondary);
}

.number:hover, .email:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hours-info {
    grid-area: 2 / 1 / -1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--border);
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.hoursItem {
    display: flex;
}

.hoursText {
    color: var(--secondary);
}

.booking-info {
    padding: 0 2rem;
    font-size: small;
    text-align: center;
}

/*
 * -------------
 * Staff Styling
 * -------------
 */

.team-info {
    grid-area: 1 / 2 / -1 / -1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    border: 2px solid var(--border);
}

.staff-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.staff-name {
    border-top: 2px solid var(--border);
    border-radius: 100%;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--border);
    color: var(--secondary);
}

.staff-blurb {
    padding: 0 2rem;
    font-weight: lighter;
}

.dishes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: bold;
    color: var(--tertiary);
}